[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
pipenv-setup = "*"
rope = "*"
pytest = "*"
pytest-xdist = "*"
recording-script-generator = {editable = true, path = "."}

[packages]
pandas = "*"
tqdm = "*"
numpy = "*"
text-utils = {editable = true, ref = "master", git = "https://github.com/stefantaubert/text-utils.git"}
text-selection = {editable = true, ref = "master", git = "https://github.com/stefantaubert/text-selection.git"}
ordered-set = "*"
pyenchant = "*"
TextGrid = "*"

[requires]
python_version = "3.8"
